# Entornos virtuales
journey_venv/
env/
venv/
*.venv/

# Archivos compilados de Python
__pycache__/
*.pyc
*.pyo

# Configuración de IDEs comunes
.vscode/
.idea/

# Archivos de sistema
.DS_Store
Thumbs.db
